/* Estilo para el botón de agregar con animación */
.agregar {
  background-color: #00af1d;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  transition: transform 500ms;
  /* Duración de la animación en milisegundos*/
}

/* Estilo para el botón con la animación activada */
.agregar.animate {
  transform: translateX(50%);
  /* Mueve el botón a la derecha */
}

/* Estilo para las pestañas*/
.nav {
  list-style: none;
  display: flex;
  padding: 0;
  background-color: white;
}

.nav-item {
  margin-right: 3px;
  background-color: white;
  align-items: center;
}

.nav-sublink {
  width: auto;
  height: 50px;
  background-color: transparent;
  border-color: transparent;
  color: rgb(70, 118, 250);
}

.nav-item.active {
  align-items: center;
  display: flex;
  background-color: lightgreen;
}

th {
  background-color: gray;
  padding: 10px 15px;
}

.TablaF table {
  margin-left: 5%;
  width: 70%;
}

.TablaF td {
  border: 1px solid #ccc;
  /*grosor y el color del borde/
  padding: 8px;
  /* Espacio interno dentro de las celdas de la tabla */
  background-color: white;
}

.remove-button {
  margin-left: 5px;
  background-color: #BB2D3B;
}

.clear-button {
  margin-left: 5px;
  background-color: gold;
}

.insert-product {
  align-items: center;
  display: flex;
  justify-content: center;
}

.agregarProducto {
  background-color: #00AF1D;
}

.eliminarProductoCont {
  border-color: transparent;
  padding: 8px;
  /* Espacio interno dentro de las celdas de la tabla */
  background-color: white;
}

.editarProd {
  border-color: transparent;
  border-left-color: 1px solid #ccc;
  /* Puedes ajustar el grosor y el color del borde según tus preferencias */
  padding: 8px;
  /* Espacio interno dentro de las celdas de la tabla */
  background-color: white;
}

.eliminarProd {
  background-color: #BB2D3B;
}

.totalCont {
  font-size: 25px;
  color: rgb(70, 118, 250);
}

.tabla-container {
  position: absolute;
  display: flex;
  justify-content: center;
  /* Centrar horizontalmente */
  align-items: center;
  /* Centrar verticalmente */
  max-width: 90%;
  /* Define el ancho máximo que desees */
  margin: 0 auto;
  /* Centra horizontalmente con márgenes automáticos */
}

input {
  margin-right: 5px;
}

.summary-Bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.abono {
  font-size: 25px;
  color: rgb(70, 118, 250);
  margin-left: 10px;
}

.boton-pago {
  margin-right: 5%;
}

.search-container{
  width: 280;
  display: flex;
  flex-direction: column;
}

.dropdown{
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  width: 280;
  position: relative;
}

.dropdown:empty{
  border: none;
}

.dropdown-row{
  cursor: pointer;
  text-align: start;
  margin: 2px 0;
}

.search-inner{
  display: flex;
}