#tabla{
    margin-top: 50px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 50vh;
    margin-left: 70px;
    
}
#enc{
    text-align: center;
    background-color: aquamarine;
}

#pantalla{
    display: flex;
    flex-direction: row;
}
#columna2{
    margin-top: 10vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 41.2vh;
    margin-left: 70px;
}
th{
    text-align: center;
}
#resumen{
    display: flex;
    flex-direction: row;
    justify-content: center;
    bottom: 0;
    position: relative;
    width: 100%;
    padding-bottom: 120px;
    margin-left: 5%;
}

#resumen h3{
    margin-left: 5%;
}
.separador{
    margin-left: 2%;
    margin-top: 2%;
}

.bottones{
    text-align: center;
}

.bottones Button{
    margin-left: 2%;
}


