#navo{
    margin-left: 10px;
}
#iconoLogin{
    margin-left: 10px;
    color: white;
}
#logo{
    width: 50px;
    height: auto;
    margin-right: 40px;
}

Navbar{
    right: 0%;
}

#navo nav-link a:hover{
    color: black;
    background-color: aliceblue;
}

#checkbtn{
    font-size: 30px;
    color: aliceblue;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;

}

@media (max-width: 825px) {
    #checkbtn{
        display: block;
    }
    
}


